/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
.container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Texto secundario */
.container p {
    font-size: 1.2rem;
    color: #666;
}
